<launch>
  <arg name="model" default="$(find step2urdf_description)/urdf/simple_body.urdf"/>
  <arg name="rvizconfig" default="$(find step2urdf_description)/rviz/joint_display.rviz" />
  <arg name="length0" default="1.0" />

  <node name="joint_publisher" pkg="step2urdf_description" type="joint_publisher"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)  length:=$(arg length0) --inorder" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>